{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un nouveau plat
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/dish_form.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
	<div class="container">
		<form method="POST">

			<h2 class="formTitle">
				Ajouter une nouvelle recette :
			</h2>

			<div class="inputDiv">
				<label class="inputLabel">Type de recette :</label>
				<select class="form-select" name="dish_type" required>
					<option selected disabled>Type</option>
					{% for menu in menus %}
						<option>{{menu.type}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="inputDiv">
				<label class="inputLabel">Nom de la recette :
				</label>
				{{ form_widget(dishForm.name) }}
			</div>

			<div class="inputDiv">
				<label class="inputLabel">Description :</label>
				{{ form_widget(dishForm.description) }}
			</div>

			<div class="inputDiv">
				<label class="inputLabel">Prix :</label>
				{{ form_widget(dishForm.price) }}
			</div>

			<button type="submit" class="btn btn-dark">Valider</button>
		</form>
	</div>
{% endblock %}
