{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/home.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
	<section>
		<div class="carousel-container">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{ asset('img/me.jpg') }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5>Restaurant "Le vingtième"</h5>
							<p>Paris 20 ème</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="{{ asset('img/dish.jpg') }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5>Premium dishs</h5>
							<p>A progression of rare and beautiful ingredients where texture, flavour and harmony is paramount.
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="{{ asset('img/dish.jpg') }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5>Third slide label</h5>
							<p>Some representative placeholder content for the third slide.</p>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>
	<section>
		<div id="menu">
			<div id="menu-title" class="menu-title">
				<h5>Menu</h5>
			</div>
		</div>
		<div class="sectionTwo-container">
			<div class="flip-card">
				<div class="a-inner">
					<div class="a-hover">
						<p>
							<b>HALAL</b><br><br>
							{% for dish in dishHalal %}
								<b>{{ dish.name }}</b><br>
								{{ dish.description }}<br>
								{{ dish.price }}€<br>
								<br><br>
							{% endfor %}
						</p>
					</div>
					<div class="a-type">
						<p>HALAL MENU</p>
					</div>
				</div>
			</div>
			<div class="flip-card">
				<div class="b-inner">
					<div class="b-type">
						<p>SIX-COURSE MENU</p>
					</div>
					<div class="b-hover">
						<a href="#" class="menu-link">Cliquez ici</a>
					</div>
				</div>
			</div>
			<div class="flip-card">
				<div class="c-inner">
					<div class="c-hover">
						<a href="#" class="menu-link">Cliquez ici</a>
					</div>
					<div class="c-type">
						<p>FOUR-COURSE MENU</p>
					</div>
				</div>
			</div>
			<div class="flip-card">
				<div class="d-inner">
					<div class="d-hover">
						<a href="#" class="menu-link">Cliquez ici</a>
					</div>
					<div class="d-type">
						<p>VEGETARIAN</p>
					</div>
				</div>
			</div>
			<div class="flip-card">
				<div class="e-inner">
					<div class="e-hover">
						<a href="#" class="menu-link">Cliquez ici</a>
					</div>
					<div class="e-type">
						<p>DRINKS</p>
					</div>
				</div>
			</div>
			<div class="flip-card">
				<div class="f-inner">
					<div class="f-hover">
						<a href="#" class="menu-link">Cliquez ici</a>
					</div>
					<div class="f-type">
						<p>DESSERTS</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
