{% extends 'base.html.twig' %}

{% block title %}
	Qui sommes-nous ?
{% endblock %}

{% block extra_css %}
	{{ encore_entry_link_tags('about_css') }}
{% endblock %}

{% block main %}
	<section>
		<article>
			<div class="text-container">
				<h2>
					<span>Un voyage</span>
					<span class="word word-color-1">culinaire</span>
					<span>unique</span>
				</h2>
				<div>
					<p>
						Bienvenue au Vingtième, un restaurant d'exception situé au cœur de votre quartier. Nous célébrons la diversité culinaire en proposant des recettes authentiques inspirées des quatre coins du monde. Nos plats reflètent notre passion pour la gastronomie internationale, en mélangeant des saveurs traditionnelles à une touche de modernité.
					</p>
				</div>
			</div>
			<div class="img-container">
				<img src="{{ asset('build/images/me.webp') }}" class="d-block" alt="placeholder">
			</div>
		</article>
		<article>
			<div class="img-container">
				<img src="{{ asset('build/images/dish.webp') }}" class="d-block" alt="placeholder">
			</div>
			<div class="text-container">
				<h2>
					<span>Des produits</span>
					<span class="word word-color-3">frais</span>
					<span>et uniques</span>
				</h2>
				<div>
					<p>
						Chez nous, la qualité des ingrédients est une priorité. Chaque plat est préparé avec des produits locaux et de saison pour garantir une fraîcheur optimale. Nos jus pressés minute à base de fruits et légumes frais et nos cocktails maison viennent parfaire votre expérience gustative.
					</p>
				</div>
			</div>
		</article>
		<article>
			<div class="text-container">
				<h2>
					<span>Une expérience conviviale et</span>
					<span class="word word-color-2">gourmande</span>
				</h2>
				<div>
					<p>
						Au Vingtième, chaque détail est pensé pour créer une atmosphère chaleureuse et accueillante. Que vous soyez ici pour un repas en famille, une soirée entre amis ou une découverte culinaire en solo, nous sommes dédiés à rendre votre visite inoubliable. Nos équipes passionnées sont là pour vous accompagner dans ce voyage culinaire.
					</p>
				</div>
			</div>
			<div class="img-container">
				<img src="{{ asset('build/images/background-recette-card.webp') }}" class="d-block" alt="placeholder">
			</div>
		</article>
	</section>
{% endblock %}

{% block extra_js %}
	{{ encore_entry_script_tags('about_js') }}
{% endblock %}
