{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block main %}
	<section id="home">
		<img src="{{ asset('/images/me.jpg') }}" class="d-block w-100" alt="...">
		<div class="title">
			<h2>Restaurant Le Vingtième</h2>
			<p>
				Paris 20ème arrondissement
			</p>
		</div>
	</section>
	<section id="about-me-container">
		<div class="description">
			<article>
				<div>
					<div class="title">
						<h2>A propos de nous</h2>
					</div>
					<p>
						Situé au cœur du 20e arrondissement, ce nouveau restaurant se distingue par son ambiance conviviale et moderne, idéale pour des moments partagés entre amis ou en famille.
					</p>
					<a href="./about" class="button-58">En savoir plus</a>
				</div>
				<img src="{{ asset('/images/about-section-img.jpg') }}" alt="Ambiance du restaurant" class="image-between">
			</article>
		</div>
	</section>
	<section id="menu-container">
		{% set number = ['one', 'two', 'three', 'four', 'five', 'six'] %}
		<div id="menu-title-container">
			<div class="straight-lines">
				{% for i in 1..5 %}
					<div class="straight straight-{{ number[i] }}">
						<div class="straight straight-50"></div>
					</div>
				{% endfor %}
			</div>
			<div class="title">
				<h2>Menu</h2>
			</div>
			<div class="straight-lines mirror">
				{% for i in 1..5 %}
					<div class="straight straight-{{ number[i] }}">
						<div class="straight straight-50"></div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div id="menu">
			{% for i, menu in menus %}
				<div class="flip-card flip-card-{{ number[i] }}">
					<div class="inner">
						<div class="type">
							<p>{{ menu.name }}</p>
						</div>
						<div class="dishs">
							{% for dish in menu.dishes %}
								<div class="dish">
									<div class="verticalLineTop"></div>
									<b>{{ dish.name }}</b><br>
									{{ dish.description|raw }}<br>
									{{ dish.price }}€
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<section id="reservation-container">
		<div class="title">
			<h2>Réserver une table</h2>
		</div>
		<a href="./reservation" class="button-58">Réserver</a>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home_js') }}
{% endblock %}
