{% extends 'base.html.twig' %}

{% block title %}
	Réserver une table
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/complete_reservation.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
	<div class="img-container">
		<img src="{{ asset('img/background-recette-card.jpg') }}" class="d-block" alt="...">
	</div>
	<div class="reservation-container">
		<h2>Vous y êtes presque !</h2>
		<p>Entrez vos infos :</p>
		<form>
			<div class="row">
				<div class="col-6">
					<input type="text" class="form-control" name="surname" placeholder="Nom">
				</div>
				<div class="col-6">
					<input type="text" class="form-control" name="name" placeholder="Prénom">
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<input type="tel" class="form-control" name="phone_number" placeholder="Numéro de téléphone">
				</div>
				<div class="col-6">
					<input type="email" class="form-control" name="mail" placeholder="Mail">
				</div>
			</div>
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Valider ma réservation</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/ajax/complete_reservation.js') }}"></script>
{% endblock %}
