{% extends 'base.html.twig' %}

{% block title %}
	Réservation confirmée !
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/reservation_confirmed.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
	<h2>Réservation confirmée !</h2>
	<div class="img-container">
		<img src="{{ asset('img/kitchen.jpg') }}" alt="placeholder">
	</div>
	<div class="reservation-confirmed">
		<p>Votre réservation du
			{{ date }}
			à
			{{ hour }}
			a bien été prise en compte.<br>
			N'hésitez pas à nous contacter pour toute demande d'infos complémentaires.</p>
		<p>A bientôt !<br>Le vingtième.</p>
	</div>
{% endblock %}
