{% extends 'base.html.twig' %}

{% block title %}
	Réserver une table
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/reservation.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
	<div class="img-container">
		<img src="{{ asset('img/background-recette-card.jpg') }}" class="d-block" alt="...">
	</div>
	<div class="lds-hourglass"></div>
	<div id="redirect-reservation">
		<button id="check-reservation-button" class="button-58">Vérifier sa réservation</button>
		<button id="new-reservation-button" class="button-58">Faire une nouvelle réservation</button>
	</div>
	<div id="check-reservation" class="hidden">
		<form id="check_reservation-form" method="POST">
			<input type="hidden" name="check_reservation" value="1"/>
			<h2>Vérifier sa réservation :</h2>
			<div class="row">
				<div class="col">
					<label for="check_reservation_mail">Entrez votre email :</label>
					<input type="email" class="form-control" name="mail" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="check_reservation_surname">Entrez votre nom de famille :</label>
					<input type="text" class="form-control" name="surname" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button class="btn btn-primary" type="submit">Rechercher</button>
				</div>
			</div>
		</form>
		<div class="response"></div>
	</div>
	<div id="new-reservation" class="hidden">
		<form id="new_reservation-form" method="POST">
			<input type="hidden" name="new_reservation" value="1"/>
			<h2>Faire une réservation :</h2>
			<div class="row">
				<div class="col">
					<select id="check-seats" class="form-select" name="seats" required>
						<option selected disabled value="">Nombre de personnes</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="check_date">Date</label>
					<input type="date" id="check-date" class="form-control" name="date" min="{{ "now"|date("Y-m-d") }}">
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary" type="submit">Voir les disponibilités</button>
			</div>
		</form>
		<div class="response"></div>
	</div>
	<div id="complete-reservation" class="hidden">
		<form id="complete-reservation-form" method="POST">
			<input type="hidden" name="complete_reservation" value="1"/>
			<h2>Vous y êtes presque !</h2>
			<p>Entrez vos infos :</p>
			<div class="row">
				<div class="col-4">
					<input id="form-seats" type="text" class="form-control" name="seats" readonly="true">
				</div>
				<div class="col-4">
					<input id="form-date" type="text" class="form-control" name="date" readonly="true">
				</div>
				<div class="col-4">
					<input id="form-hour" type="text" class="form-control" name="hour" readonly="true">
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<input type="text" class="form-control" name="surname" placeholder="Nom" required>
				</div>
				<div class="col-6">
					<input type="text" class="form-control" name="name" placeholder="Prénom" required>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<input type="tel" class="form-control" name="phone_number" placeholder="Numéro de téléphone" required>
				</div>
				<div class="col-6">
					<input type="email" class="form-control" name="mail" placeholder="Mail" required>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary" type="submit">Valider ma réservation</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/ajax/reservation.js') }}"></script>
	<script src="{{ asset('js/script/reservation.js') }}"></script>
{% endblock %}
