<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">
		<!-- Ne pas oublier les balises META -->
		<title>
			{% block title %}{% endblock %}
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;800&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="{{ asset('css/navbar.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('css/footer.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('css/loader.css') }}" rel="stylesheet" type="text/css"/>
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<div id="loader">
				<h2>
					<span class="loader-word loader-word-1">Le</span>
					<span class="loader-word loader-word-2">Ving</span>
					<span class="loader-word loader-word-3">t</span>
					<span class="loader-word loader-word-4">ième</span>
				</h2>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
				{% include('_navbar.html.twig') %}
			</nav>
			<div id="global-container" class="bg-light">
			<div id="scroll-position"></div>
				<main>
					{% block main %}{% endblock %}
				</main>
				<footer id="footer" class="container-fluid bg-dark row g-0">
					{% include('_footer.html.twig') %}
				</footer>
			</div>
		{% endblock %}
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
			<script src="{{ asset('js/script/const.js') }}"></script>
			<script src="{{ asset('js/script/navbar.js') }}"></script>
			<script src="{{ asset('js/script/loader.js') }}"></script>
		{% endblock %}
	</body>
</html>
